#egrep '|' /sys/class/input/event*/device/name
#...find the one that looks like a shutter button
#    /sys/class/input/event9/device/name:AB Shutter3

#edit this file; change ATTRS{name} to name shown for button
#copy file to /etc/udev/rules.d/99-bluetooth-shutter.rules

KERNEL=="event*", SUBSYSTEM=="input", ATTRS{name}=="AB Shutter3", SYMLINK+="input/shutter"

#sudo udevadm control --reload-rules
#sudo udevadm trigger

#... reconnect or manually trigger
#sudo udevadm trigger /dev/input/event9
#ls -l /dev/input/shutter
